@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{background-color: rgb(255, 255, 255);}

nav{
    background-color: #202020;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 9999;
}

nav .logo a{
    text-decoration: none;
    color: #ff0000;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.separação{
width: 1250px;
height: 200%;
background-color: #ffffff;
color: #ffffff;
}

.logo1{
    width: 175px;
}

.corpo1{
    width: 100%;
    height: 500px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
}

.espaçoantecorpo1{
    width: 5%;
    height: 500px;
    background: transparent;
    color: transparent;
}

.portaimg1{
    width: 40%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgturtle1{
    width: 90%;
    height: 90%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spaceepi{
    width: 55%;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.epi{
    width: 70%;
    height: 240px;
    color: #122C4C ;
    font-size: 75px;
    justify-content: center;
}

.corpo2{
    width: 100%;
    height: 500px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caixatxtqs{
    width: 80%;
    height: 450px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtqs{
    width: 90%;
    height: 80%;
    text-align: justify;
    font-size: 210%;
    color: #ffffff;
    justify-content: center;
}

.separação2{
    width: 100%;
    height: 200%;
    background-color: #e1e1e1;
    color: #e1e1e1;
}

.reta{
    width: 2px;
    height: 450px;
    background-color: #ffffff;
    color: transparent;
}

.corpo3{
    width: 100%;
    height: 600px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudomvv{
    width: 20%;
    height: 500px;
    background: transparent;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    border-color: #202020;
}

.conteudomvvmeio{
    width: 20%;
    height: 420px;
    background: transparent;
    border-radius: 5%;
    border-style: dashed;
    border-color: #202020;
}

.imgmvv{
    height: 210px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basetxtmvv13{
    height: 350px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtmvv{
    height: 80%;
    width: 80%;
    color: #202020;
    text-align: center;
    font-size: 100%;
}

.basetxtmvv2{
    height: 200px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}